/*
Author:
Date:
File Name: 
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for table to set 80% width, margin, and border */
table {
	width: 80%;
	margin: 0 auto;
	border: 3px solid #7188bb;
}

/* Style rule for table, tr, th, td, to collapse border and add padding */
table, tr, th, td {
	border-collapse: collapse;
	padding: 2%;
}

/* Style rule for caption that sets font size, padding, and top margins */
caption {
	font-size: 2em;
	padding: 2%;
	margin-top: 2%;
}

/* Style rule for th and td that sets borders inside the table */
th, td {
	border: 1px solid #7188bb;
}

/* Style rule that aligns text for td */
td {
	text-align: center;
}

/* Style rule that sets background color for tr */
tr {
	background-color: #d3e788;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}