/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: 'Ariel', sans-serif;
  background-image: linear-gradient(to right, #6a7e4b, #a3c293);
  color: white;
  text-align: center;
}

/* Styles for inputs and buttons */
input {
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #f75f5f;
  color: white;
  cursor: pointer;
  margin-top : 10px;
}

#favmovie, #ageverif, .p {
  padding: 1em;
}

.mt {
  margin-top: 20px;
}

/* Typography styles */
ul {
  list-style-type: none;
}

ul li:nth-child(1),
ul li:nth-child(2),
ul li:nth-child(3),
.lg {
  font-weight: bold;
  color: lightgreen;
}

.italic {
  font-style: italic;
}