/* CSS Reset */
body, header, nav, main, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for Body */
body {
  font-family: 'DM Sans', sans-serif, 'calibri';
  background-color: #f4f4f4;
}

/* Header Styles */
header {
  background-color: #0a421b;
  color: #b2ffbc;
  padding: 25px 15px;
}
header nav a {

}
/* Navigation Styles */

/* Main Content Styles */

/* Footer Styles */